
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
    --black: black;
}

body {
    margin: 0;
    padding: 0 3% 0px 3%;
    font-size: min(max(0.8rem, 4vw), 30px);
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    color: var(--black);
}

code {
  font-family: 'Work Sans', sans-serif;
}

p {
    padding: 0px;
    margin: 0px;
}

.sectionFlex {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.navLogoDiv {
    width: 50%;
    padding: 40px 0 0 0;
}

.navMenuDiv {
    width: 50%;
    padding: 40px 0 0 0;
}

.link {
    text-decoration: none;
    color: var(--black);
}

.top {
    text-decoration: none;
    color: var(--black);
    border: 3px;
    border-style: solid;
    border-radius: 100px;
    border-color: var(--black);
    padding: 7px 15px;
}

.linkUnderline {
    color: var(--black);
}

.divW50 {
    width: 50%;
}

.projectsDiv {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

.projectsImg {
    width: 50%;
    margin-bottom: 10px;
}

.projectImg {
    width: 100%;
}

.marginTop40px {
    margin-top: 40px;
}

.marginBottom40px {
    margin-bottom: 40px;
}

.marginTop80px {
    margin-top: 80px;
}

.marginBottom80px {
    margin-bottom: 80px;
}

@media (max-width: 500px) {

    .projectsImg {
        width: 100%;
    }

    .marginTop40px {
        margin-top: 20px;
    }

    .marginBottom80px {
        margin-bottom: 40px;
    }

    .marginBottom40px {
        margin-bottom: 20px;
    }

}
